<%
   for(var i=0;i<data.length;i++){
      var vo = data[i];
  
%>
   <tr data-no='<%=vo.no%>'>
      <td><%=data.length-i%></td>
      <td><%=vo.name%></td>
      <td><%=vo.postCnt%></td>
      <td><%=vo.description%></td>
   
      <td>
    	 <%
      		if(vo.postCnt==0){
     	 %>
         <a href='' data-no='<%=vo.no%>'><img src=<%=data.contextPath%>'/jblog03/assets/image/delete.jpg'></a>
   		 <%
        	 }
    	  %>
      </td>
    </tr>
<%
   }
%>